.nav {
    display: flex;
    border-bottom: 2px solid #000;
}
.nav a {
    font: 14px/40px "宋体";
    height: 40px;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 2px solid #000;
    margin-bottom: -2px;
    transition: .2s;
}
.nav .hover {
    color: red;
    border-bottom-color: red;
}
.page-nav  {
    display: flex;
}
.page-nav a {
    margin: 0 5px;
    color: #ccc;
}
.page-nav .active {
    color: red;
}